.no-margin {
  margin: 0px;
}
.text-center {
  text-align: center;
}

.home-main-container {
  max-width: 100%;
}

.home-half-container {
  width: 100%;
}

.back-img{
  max-width: 100%;
}

.home-info-wrapper {
  text-align: center;
}

.navbar-promo {
  padding: 8px;
  background-color: #000;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: #fff;
  padding: 16px;
  font-family: sans-serif;
  color: #000;
  border-bottom: 1px solid #E2E2E2;
  font-family: 'Josefin Slab', serif;
}

.navbar-wrapper,
.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-wrapper-right {
  margin-left: 0;
  display: none;
}

.nav-link a {
  text-decoration: none;
  color: #000;
}

.navbar-toggle {
  align-self: flex-start;
  display: initial;
  position: absolute;
  cursor: pointer;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .navbar-wrapper-right {
    margin-left: auto;
    display: flex;
  } 
  .navbar-wrapper,
  .navbar {
    flex-direction: row;
  }
  .navbar-toggle {
    display: none;
  }

  .nav-link {
    padding: 0px;
  }
  
  .nav-link a {
    padding: 8px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-main-container {
    display: flex;
  }

  .home-half-container {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }